.Calc {
    margin: 16px;
    padding: 16px;
    max-width: 290px;
}

.Profit {
    width: calc(100% - 100px);
    right: 0;
    display: inline-block;
}

.Profit .subheader {
    margin-top: 16px;
    text-align: right;
    color: rgba(255, 255, 255, 0.54);
}

.Profit .dollars {
    font-size: 38px;
    font-weight: bold;
    color: darkgreen;
    text-align: right;
}

.Reset {
    display: inline-block;
    bottom: 12px;
    left: 0;
}
