.Calc {
    margin: 16px;
    padding: 16px;
    max-width: 290px;
}

.CalcDivider {
    margin: 16px 0 16px 0 !important;
}

.CalcProfit {
    margin-right: 3px;
}

.CalcProfit .subheader {
    margin-top: 16px;
    text-align: right;
    color: rgba(255, 255, 255, 0.54);
}

.CalcProfit .dollars {
    font-size: 38px;
    font-weight: bold;
    color: darkgreen;
    text-align: right;
}
